$color-menu-responsive:#0000EC;
$color-boton-conoce: #00F3BB;
$font-titles: 'IBM Plex Sans', sans-serif;
$font-parrafos: 'IBM Plex Mono', monospace;
$color-fondo-episodios: linear-gradient(to bottom, #0000FF, #0000A3);
$font-subtitles: 'IBM Plex Sans-SemiBold', sans-serif;